DATABASE_URL="postgresql://postgres:postgres@localhost:5432/glomopay?schema=public"
PORT=3000
LOG_FORMAT=dev

JWT_PRIVATE_KEY_PATH="./keys/jwt-private.pem"
JWT_PUBLIC_KEY_PATH="./keys/jwt-public.pem"
JWT_EXPIRES_IN="1h"

